body {
    background-color: green;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-cover {
    display: flex;
    align-content: baseline;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.site-front {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    -webkit-text-fill-color: #80C991;
    justify-content: center;
    align-items: center;
}

.quiz-start {
    border-color: transparent;
    outline: none;
    border-radius: 10px;
    min-width: 100px;
    min-height: 50px;
    font-size: 25px;
    background-color: #165e2c;
    -webkit-text-fill-color: white;
}

.quiz-start:hover {
    background-color: white;
    -webkit-text-fill-color: #165e2c;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-stuff {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 20px;
    max-width: 750px;
    border-radius: 5px;
    background-color: #0f6868;
}

.image-stuff img {
    margin-right: 40px;
    margin-left: 40px;
}


.quiz-label {
    font-family: 'Roboto', sans-serif;
    margin-top: -50px;
}

.container-split {
    margin-bottom: 100px;
}